extends ../../../layout.pug

block body
    - var sidebarLinks = [require("assets/images/links/right1.png"), require("assets/images/links/right2.png"), require("assets/images/links/right3.png"), require("assets/images/links/right4.png")]
    
    div#viewport
        div.bg-top
            img(src=require("assets/images/bg-stars.png") width="100%" height="auto")
        div.bg-bottom
            img(src=require("assets/images/bg-main.png") width="100%" height="auto")
        
        div#navbar.navbar.navbar-expand-sm
            .container
                a.navbar-brand.d-none.d-lg-block(href="/")
                .col.navbar-nav.font-header
                    a.nav-link.text-uppercase.text-center(href="/") Новости
                    a.nav-link.text-uppercase.text-center(href="#") Форум
                    a.nav-link.text-uppercase.text-center(href="#") Особенности
                    a.nav-link.text-uppercase.text-center(href="#") Поддержка
                    a.nav-link.text-uppercase.text-center(href="#") Магазин
                    a.nav-link.text-uppercase.text-center(href="#") Профиль
      
        div.container.main-block
            .row.no-gutters: .col-sm-12.text-center
                a#btn-play.font-header.text-uppercase(href="#")
                
            div#header.row.no-gutters
                div.col-sm-12
                    div#carousel.carousel.slide(data-ride="carousel")
                        - var carouselPhotos = ['#', '#', '#']
                        .carousel-inner
                            each url, i in carouselPhotos
                                .carousel-item.h-100(class=`${i==0 ? 'active' : ''}`)
                                    img.h-100(class=`bg-${i}` src=url)

                        .carousel-controls
                            a.carousel-control-prev(href="#carousel" role="button" data-slide="prev")
                                span.carousel-control-prev-icon(aria-hidden="true")
                            a.carousel-control-next(href="#carousel" role="button" data-slide="next")
                                span.carousel-control-next-icon(aria-hidden="true")
                        ol.carousel-indicators
                            each url, i in carouselPhotos
                                li(class=`${i==0 ? 'active' : ''}` data-target="#carousel" data-slide-to=i)
                            //- li(data-target="#carousel" data-slide-to="1")
                            //- li(data-target="#carousel" data-slide-to="2")
                            
                    //- div.h-100.col-sm-12
                        div.bg-panel.h-100
        
            div#content.row.no-gutters
                div#news.col-sm-9
                    div.col-sm-12.h-100
                        div.block.bg-panel-big.border-panel.border-panel_big.h-100
                            
                div#sidebar.col-sm-3
                    div.col-sm-12.h-100
                        div.block.h-100
                            div#server-status.border-panel.text-center
                                span.status-text.text-success Онлайн
                            
                            each link, i in sidebarLinks
                                a.sidebar-item.sidebar-item_link(href="#"): img(src=link)
                                
          
            div#footer.row.no-gutters
                div.col-sm-12
                    div.h-100.col-sm-12
                        div.block.bg-panel.border-panel.h-100
        
