extends ../../layout.pug

block body
    if !data
        - var data = require('./_data');
    
    div#main.layout
        div.bg-top
            img(src=require("assets/images/bg-stars.png") width="100%" height="auto")
        div.bg-bottom
            img(src=require("assets/images/bg-main.png") width="100%" height="auto")
        
        include ../../components/navbar/template.pug
      
        header.container
            .row.no-gutters: .col-12.text-center
                a#btn-play.font-header.text-uppercase(href="#")
            
            .row
                div.col-12
                    div#carousel.carousel.slide(data-ride="carousel")
                        .carousel-inner
                            each item, i in data.carouselItems
                                .carousel-item.h-100.text-center(class=`${i==0 ? 'active' : ''}`)
                                    img(src=item.img)

                        .carousel-controls
                            a.carousel-control-prev(href="#carousel" role="button" data-slide="prev")
                                span.carousel-control-prev-icon(aria-hidden="true")
                            a.carousel-control-next(href="#carousel" role="button" data-slide="next")
                                span.carousel-control-next-icon(aria-hidden="true")
                        //- ol.carousel-indicators
                            each item, i in data.carouselItems
                                li(class=`${i==0 ? 'active' : ''}` data-target="#carousel" data-slide-to=i)
                                    
                    div#carousel-footer
                        div.text-1 TESV: Skyrim -
                        div.text-2 Теперь в многопользовательском режиме
      
        main.container
            div.row
                div#articles.col-sm-9
                    div.panel.border-grad-down
                        h2.text-center.text-uppercase.mb-0 Новости
                        each item in data.articles
                            article.col-12(id=`article-${item.id}` data-item-id="1")
                                h4.article-header.bg-grad-right.border-grad-right
                                    span.date 01.01.2018
                                    span.ml-3 #{item.title}
                                div.article-body.col-12
                                    div(data-content="lead").article-lead #{item.lead}
                                        //- p На просторах SkyMP вы сможете стать кем угодно, избрать любой путь! Нам было бы интересно узнать: кем бы вы хотели стать? Какую дорогу вы выберете? 
                                    div(data-content="fullText").article-full-text.collapse #{item.fullText}
                                        //- p P.S. Скоро будет еще информация о прогрессе работы, ждите ;)
                                div.article-footer.text-center
                                    a.article-more.bg-grad-center.border-grad-center(data-toggle="collapse" data-target=`#article-${item.id} .collapse`) Подробнее 
                                    
                            
                aside#sidebar.col-sm-3
                    div.panel
                        div#server-status.border-grad-down.text-center
                            //- span.status-text.text-success Онлайн
                            span.status-text.text-warning В разработке
                        
                        each item, i in data.sidebarLinks
                            a.sidebar-item.sidebar-item_link(href=item.url): img(src=item.img)
                                
        include ../../components/footer/template.pug
