if !data
    - var data = require('../_data');
    
section#newbie.section.py-2: .container
    .section-inner.d-flex.flex-column.align-items-stretch.justify-content-between
        h2.bg-clip-text.text-center
            | Чем я могу заняться в 
            span.name SkyMP?
            
        div#newb-carousel.carousel.carousel-flex.slide(data-ride="newb-carousel")
            .carousel-inner.border-grad-center
                each item, i in data.newbieItems
                    .carousel-item.px-4(class=`${i==0 ? 'active' : ''}`)
                        h3.d-flex.justify-content-between.align-items-center.text-uppercase
                            img.icon1(src=item.icon1)
                            span.text-center #{item.title}
                            img.icon2(src=item.icon2)
                        //- p.carousel-item-text.text-center.d-flex.flex-column.justify-content-between !{item.text}
                        div.carousel-item-text.text-center.flex-full.d-flex.flex-column.justify-content-between
                            each text in item.text.split('\n')
                                p #{text}

            .carousel-controls
                a.carousel-control-prev(href="#newb-carousel" role="button" data-slide="prev")
                    img.animated(src=require('assets/icons/arrow-l.png'))
                a.carousel-control-next(href="#newb-carousel" role="button" data-slide="next")
                    img.animated(src=require('assets/icons/arrow-r.png'))
            
            ol.carousel-indicators.d-flex.justify-content-between.mt-2
                each item, i in data.newbieItems
                    li.d-flex.flex-column.mx-3(class=`${i==0 ? 'active' : ''}` data-target="#newb-carousel" data-slide-to=i)
                        div.icon.d-flex.justify-content-center.animated
                            img.icon1(src=item.icon1)
                            img.icon2(src=item.icon2)
                        div.title.text-center.animated #{item.title}
                        
        div.newb-footer.bg-clip-text.mt-2
            div.text-left Ты способен стать кем угодно
            div.text-right в мире SkyMP!
